<footer class="bg-body-secondary ">
    <div class="f-content">
        <div>
            <i class="fa-brands fa-square-instagram f-icon"></i>&nbsp;
            <i class="fa-brands fa-square-facebook f-icon"></i>&nbsp;
            <i class="fa-brands fa-square-x-twitter f-icon"></i>&nbsp;
        </div>
         <div class="f-copyright">
            <i class="fa-regular fa-copyright"></i>&nbsp;
            <p class="para">Wonderlust Private Limited</p>
         </div>
         <p class="para">Privacy Term</p>
    </div>
</footer>