<% layout("layouts/biolerplate") -%>
<body>
    <section class="d-flex justify-content-center mt-3">
            <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;&nbsp;
                <div>
                    Error <%= status %>:<%= message %>
                </div>
            </div>
    </section>
    
</body>
</html>